.galeria{
    font-family: "Poppins", sans-serif;
    /* padding-top: 1px; */
    width:100%;
    min-height: 100vh;
    margin:0;
    padding: 0;
    background-color: #11354f;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    background-color: #ffffff;
    margin-top: 20px;
}

.botones{
    text-align: right;
    margin-right: 60px;
    margin-top: 7px;
}
.botonnuevo{
    margin-right: 20px;
    margin-bottom: 0px;
    height: 35px;
    text-align: center;
}
.botonEditar{
    margin-bottom: 0px;
    height: 35px;
    justify-content: center;
}
.footer{
    position: fixed;
    bottom: 0;   
    width: 100%;
}
