<header class="header" id="inicio">
    <nav class="navbar navbar-expand-md bg-black">
        <div class="container-fluid">
            <!-- icono o nombre -->
            <a class="navbar-brand logo" href="http://gruposima.ar/">
                <img src="../../../assets/img/logo.png" alt="logo" class="img-fluid" width=" 250" height="">
            </a>
            <!-- boton Login -->
            <div class="botones-menu">
                <button type="button" class="btn btn-danger m-2" (click)="main()">MAIN</button>
                <button type="button" class="btn btn-danger m-2 " (click)="login()" >LOGOUT</button>
            </div>
        </div>
    </nav>
</header>
<div class="container col-md-12 my-4">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Personas</h3>
        </div>
            <form class="cbp-mc-form"  (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="cbp-mc-column">
                    <div class="form-group">
                        <label for="nombreEmpleado">Nombres</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empleado.nombreEmpleado" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoEmpleado">Apellido</label>
                        <input type="text" class="form-control" id="apellidoEmpleado" name="apellidoEmpleado" [(ngModel)]="empleado.apellidoEmpleado" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="dniempleado">Dni</label>
                        <input type="text" class="form-control" id="dniempleado" name="dniempleado" [(ngModel)]="empleado.dniempleado" required>
                    </div>

                    <div class="form-group">
                        <label for="direccionEmpleado">Dirección</label>
                        <input type="text" class="form-control" id="direccionEmpleado" name="direccionEmpleado"  [(ngModel)]="empleado.direccionEmpleado" required>
                    </div>
     
                    <div class="form-group">
                        <label for="legajoEmpleado">Legajo</label>
                        <input type="text" class="form-control" id="legajoEmpleado" name="legajoEmpleado" [(ngModel)]="empleado.legajoEmpleado" required>
                    </div>

                    <div class="form-group">
                        <label for="fechaNascimentoEmpleado">Fecha/Nac</label>
                        <input type="datetime" class="form-control" id="fechaNascimentoEmpleado" name="fechaNascimentoEmpleado" [(ngModel)]=' empleado.fechaNascimentoEmpleado  ' required>
                    </div>

                    <div class="form-group">
                        <label for="fechaAltaEmpleado">Fecha/Alta</label>
                        <input type="datetime" class="form-control" id="fechaAltaEmpleado" name="fechaAltaEmpleado" [(ngModel)]="empleado.fechaAltaEmpleado" required>
                    </div>
                </div>
                <div class="cbp-mc-column">
                   
                    <div class="form-group">
                        <label for="objetivoEmpleado">Objetivo</label>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let n of objetivo">{{ n }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="turnoEmpleado">Turno</label>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let n of turno">{{ n }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="telefonoEmpleado">Telefono Contacto</label>
                        <input type="number" class="form-control" id="telefonoEmpleado" name="telefonoEmpleado" [(ngModel)]="empleado.telefonoEmpleado" required>
                    </div>

                    <div class="form-group">
                        <label for="cargoEmpleado">Cargo</label>
                        <input type="text" class="form-control" id="cargoEmpleado" name="cargoEmpleado"
                            [(ngModel)]="empleado.cargoEmpleado" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="emailEmpleado">Email</label>
                        <input type="text" class="form-control" id="emailEmpleado" name="emailEmpleado" [(ngModel)]="empleado.emailEmpleado" required>
                    </div>

                    <div class="form-group">
                        <label for="estadoEmpleado">Estado</label>
                        <select id="occupation" name="occupation" class="form-select" aria-label="Default select example">
                            <option *ngFor="let n of estado">{{ n }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="codigoPostalEmpleado">Codifgo postal</label>
                        <input type="text" class="form-control" id="codigoPostalEmpleado" name="codigoPostalEmpleado"
                            [(ngModel)]="empleado.codigoPostalEmpleado" required>
                    </div>

                </div>
              
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Modificar empleado" />
                </div> 

            </form>
        </div>
    </div>
<app-footer></app-footer>
