
    <header class="header" id="inicio">
        <nav class="navbar navbar-expand-md bg-black">
            <div class="container-fluid">
                <!-- icono o nombre -->
                <a class="navbar-brand logo" href="http://gruposima.ar/">
                    <img src="../../../assets/img/logo.png" alt="logo" class="img-fluid" width=" 250" height="">
                </a>
                <!-- boton Login -->
                <div class="botones-menu">
                    <button type="button" class="btn btn-danger" (click)="login()" >LOGOUT</button>
                </div>
    
            </div>
    
        </nav>
    </header>
    <div class="galeria row g-0 justify-content-center align-items-center text-center">
        <h2 class="titulo">Grupo Sigma</h2>
        <div class="contenedor-imagenes">
            <div class="imagen">
                <img src="../../../assets/img/gpsNegro1.png" alt="">
                <div class="overlay">
                    <h2>GPS</h2>
                    <p>Empresa de servicio en los principales aeropuertos de nuestro país.</p>
                    <a (click)="gps()"> Ver más</a>
                </div>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/ecoklinFondoBlanco1.png" alt="">
                <div class="overlay">
                    <h2>Ecoklin</h2>
                    <p >Lorem Ipsum es simplemente el texto de relleno de las imprentas.</p>
                    <a href="#"> Ver más</a>
                </div>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/LB1.png" alt="">
                <div class="overlay">
                    <h2>Lb</h2>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas.</p>
                    <a href="#"> Ver más</a>
                </div>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/logo_global_argentina.fw1.png" alt="">
                <div class="overlay">
                    <h2>Global</h2>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas.</p>
                    <a href="#"> Ver más</a>
                </div>
            </div>
        </div>
    
            <h2 class="titulo">Servicios</h2>
            <div class="contenedor-imagenes">
                <div class="row">
                    <div class="col-lg-4 my-2 ">
                        <div class="Dservicios">
                            <!-- (click)="sistema()" -->
                            <a class="text-black" (click)="sistema() > Sistemas</a>
                        </div>
                    </div>
                    <div class="col-lg-4 my-2">
                        <div class="Dservicios">
                            <h5 class="text-black">Archivos</h5>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 my-2">
                        <div class="Dservicios">
                            <h5 class="text-black">D.P.A</h5>
                          
                        </div>
                    </div>
                    <div class="col-lg-4 my-2">
                        <div class="Dservicios">
                            <h5 class="text-black">Master Data</h5>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 my-2">
                        <div class="Dservicios">
                            <h5 class="text-black">Suministro</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
    <footer class=" d-flex bg-black justify-content-between text-white p-2 navbar-fixed-bottom ">
        <p class="float-end">
          Buenos Aires - Argentina - 2023
        </p>
        <p>
          Copyright:
          <a href="https://moreirafrontend.web.app/"> M M Dev.</a>
        </p>
      </footer>
